@import '../../styles/_theme.scss';

.subrayado { text-decoration: underline; }
.rojo { color: $danger; }

h4 {
  margin-top: 40px;
  color: $accent-dark;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}